<%- model_class = Socio -%>
<div class="page-header">
  <h1>Gestion de socios</h1>
</div>
<%= render partial: "search", locals: {url: socios_path} %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:activo) %></th>
      <th><%= model_class.human_attribute_name(:categoria_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @socios.each do |socio| %>
      <tr>
        <td><%= socio.id %></td>
        <td><%= link_to socio.nombre, socio_path(socio) %></td>
        <td><%= yes_no_icon socio.activo %></td>
        <td><%= socio.categoria.nombre %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_socio_path(socio), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      socio_path(socio),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_socio_path,
            :class => 'btn btn-primary' %>
